.App {
  text-align: center;
  max-height: 100vh;
  position: fixed; 
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  min-height: 50vh;
  max-height: 50vh;
  position: relative; 
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  position: relative; 
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-header {
  height: 100vh;
  justify-content: top;
  border: none;
  background-color: inherit;
  padding: 10vmin 10vmin;
}

.life-up {
  background-color: #C1CDCD;
  color: #0000FF;
  height: 10vh;
  width: 10vw;
  border: none;
  background-color: inherit;
  padding: 1vmin 1vmin;
  cursor: pointer;
}

.life-down {
  background-color: #F5F5DC;
  color: #ff0000;
  height: 10vh;
  width: 10vw;
  border: none;
  background-color: inherit;
  padding: 1vmin 1vmin;
  cursor: pointer;
}

.life-count-header {
  border: 5px solid black;
  height: 100vh;
  min-width: 10vw;
  text-align: center;
  padding: 1vw;
}

.life-table {
  /* border: 5px solid black; */
  border-collapse: collapse;
  height: 20vh;
  width: 100vw;
}

/* tr:hover {background-color: #f5f500;} */

.add-player {
  height: 10vh;
}

.player-form {
  justify-content: center;
  height: 10vh;
  width: 10vw;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(-20deg);
  }
  49% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
